In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.ticker import FuncFormatter
%matplotlib inline
import numpy as np

df = pd.concat(pd.read_excel("Dados/201902.xlsx", sheet_name=None), ignore_index=True)
df = df.dropna(axis="columns")
df = df.rename(columns={"Tipo   Lançamento  Nr. Ordem\nAbast." : "Tipo", "Unnamed: 10" : "Nr Litros", "Unnamed: 4" : "Lançamento", "Valor        Numero Abast." : "Valor Abast."})
df = df.drop("Lançamento", axis = 1)
df["Produto"] = df["Produto"].replace("ÁLCOOL COMBUSTÍVEL (ETANOL)", "ETANOL")
df["Produto"] = df["Produto"].replace("ÓLEO DIESEL S-10", "DIESEL")
df["Produto"] = df["Produto"].replace("GASOLINA COMUM", "GASOLINA")
df["Valor Abast."] = df["Valor Abast."].astype(str)
def f(item):
    return item + " 0000"
df["Valor Abast."] = df["Valor Abast."].apply(f)
df['Valor Abast.'] = df['Valor Abast.'].str.replace(" ","")
df["Valor Abast."] = df["Valor Abast."].str.replace(",", ".")
df["Valor Abast."] = pd.to_numeric(df["Valor Abast."], errors="ignore")
df["Valor Abast."] = df["Valor Abast."].astype(float)
df["Valor Abast."] = df["Valor Abast."].round(2)
df

C:\Users\Lucas Menossi\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

          Data  Nr Frota     Placa   Produto   Tipo  Nr Litros  Valor Abast.
0   2019-02-01     78038   AJA2563    DIESEL  Abast    100.270        349.95
1   2019-02-01     79434  ARV-7183  GASOLINA  Abast     37.580        153.71
2   2019-02-01     79460  BCD-6869  GASOLINA  Abast     41.570        170.03
3   2019-02-01     79458  BCD-6853    ETANOL  Abast     47.000        117.03
4   2019-02-01     79401  AHT-8827  GASOLINA  Abast     37.081        151.67
..         ...       ...       ...       ...    ...        ...           ...
206 2019-02-28     79461  BCD-6871    ETANOL  Abast     49.780        148.84
207 2019-02-28     79454  BCC-4702    ETANOL  Abast     47.619        142.38
208 2019-02-28     79465  BCD-6526    ETANOL  Abast     37.800        113.02
209 2019-02-28     79506  AHR-1214  GASOLINA  Abast     36.311        148.51
210 2019-02-28     79432  ARV-7425    ETANOL  Abast     41.161        123.07

[211 rows x 7 columns]

In [25]:
df.dtypes

Data            datetime64[ns]
Nr Frota                 int64
Placa                   object
Produto                 object
Tipo                    object
Nr Litros              float64
Valor Abast.            object
dtype: object

In [28]:
df["Valor Abast."]

0       349,94   5277
1       153,70   5282
2       170,02   5278
3      117,03   16798
4       151,66   5278
            ...
206            148.84
207            142.38
208            113.02
209            148.51
210            123.07
Name: Valor Abast., Length: 211, dtype: object