In [71]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.ticker import FuncFormatter
%matplotlib inline
import numpy as np

df20 = pd.concat(pd.read_excel("Dados/2020.xlsx", sheet_name=None), ignore_index=True)
df20 = df20.drop("Unnamed: 0", axis=1)
df19 = pd.concat(pd.read_excel("Dados/2019.xlsx", sheet_name=None), ignore_index=True)
df19 = df19.drop("Unnamed: 0", axis=1)

In [84]:
df19.merge(right=df20,left_on=[df19.Placa],right_on=[df20.Placa], indicator=True, how='left')
df19 = df19.drop_duplicates(subset=['Placa', 'Nr Litros'])
df19

,Data,Nr Frota,Placa,Tipo,Produto,Nr Litros,Valor Abast.,Equal
0,02/12/2019,87009,EQU-8709,Consum,GASOLINA,18.620,83.61,0.0
1,02/12/2019,78040,AEO-9326,Abast,DIESEL,89.550,330.45,0.0
2,02/12/2019,79472,BCG-4255,Abast,DIESEL,46.371,171.12,0.0
3,02/12/2019,87011,EQU-8711,Abast,DIESEL,16.290,60.12,0.0
4,02/12/2019,79450,BAB-6291,Abast,DIESEL,38.070,140.49,0.0
...,...,...,...,...,...,...,...,...
2858,11/01/2019,79444,ATL-9834,Abast,ETANOL,50.510,135.87,0.0
2859,12/01/2019,79467,BCD-6528,Abast,ETANOL,42.380,114.00,0.0
2860,14/01/2019,79454,BCC-4702,Abast,ETANOL,49.260,132.51,0.0
2861,14/01/2019,79464,BCD-6525,Abast,ETANOL,43.502,117.02,0.0
2862,14/01/2019,79462,BCD-6523,Abast,ETANOL,47.220,127.02,0.0